.tec1{position: absolute;
    width: 319px;
    height: 79px;
    left: 259px;
    top: 0px;
    
    
    border-radius: 90px;}
.tec2{position: absolute;
        width: 319px;
        height: 79px;
        left: 578px;
        top: 0px;
        
        
        border-radius: 90px;}
        
.tec3{position: absolute;
            width: 319px;
            height: 79px;
            left: 897px;
            top: 0px;
            
            
            border-radius: 90px;}
.tec4{position: absolute;
                width: 319px;
                height: 79px;
                left: 1216px;
                top: 0px;
                
                
                border-radius: 90px;}
.main{
    position: absolute;
    top: 80px;
    left:5px;
   
width: 2200px;
height: 1000px;

background: #399B8F;
}
.msgbx{
    position: fixed;
    right:105px;
    height: 40px;
    bottom:20px
}
.msg{
    position: relative;
    top:0px;
    left:15px;
}
.send{
    position: absolute;
width: 100px;
height: 40px;

background: #21df6d;
border-radius: 90px;
}

.msgg{
    position: relative;
    width: 650px;
    height: 40px;
    border-radius: 90px;
}